<div class="container">
    <h1 class="title">Categories</h1>
    <div *ngFor="let product of products" class="product-container">
        <img src="{{product.imageUrl[0]}}" alt="product image">
        <h3 class="category">
            <a [title]="category.name + ' details'" [routerLink]="['/categories', categories.id]">
                {{category.name}}
            </a>
        </h3>
        <p *ngIf="product.price" class="price">
            Price: {{product.price}} ₸
        </p>
        <button type="button" class="share-btn" (click)="share(product.link)">Share with Telegram</button>
    </div>
</div>